{
  "identities": [
    {
      "name": "admin",
      "credentials": [
        {
          "accessKey": "${S3_ADMIN_ACCESS_KEY}",
          "secretKey": "${S3_ADMIN_SECRET_KEY}"
        }
      ],
      "actions": ["Read", "Write", "List", "Tagging", "Admin"]
    }
  ]
}